{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 versions", "ie 11"]
        }
      }
    ],
    "react",
    "stage-0"
  ],
  "plugins": ["react-loadable/babel"]
}
